body {
    background-size: cover;
    background: url('css/images/back6.jpg') no-repeat fixed  top;
    background-size: 100% 100%;
    position: static;
    margin-left: 500px;
    font-size: 17px;
    line-height: 1.3;
    color: black;
    padding: 0;
    display: flex;
    flex-direction: column;

}
.navbar {
    text-align: center;
    background-color: rgb(187, 231, 232, .6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 28px;
    font-size: 23px;
    font-family: 宋体;
}

.navbar li {
    background-color: rgb(255, 255, 255,0.6);
    border:50px;
    border-radius: 30px;
    display: inline;
    margin: 20px 70px;


}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
.indent_clearfix img{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    width:735px;
    border: 0.5px black solid ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    color: Black;
}
html h1 {
    font-size: 26px;
}
.article {
    border: 3px solid #000000;
    border-radius: 10px;
    padding-right: 25px;
    width: 705px;
    background-color: rgba(255, 255, 255, 0.85);
    flex: 1;
    padding-bottom: 40px;
}
.year {
    zoom: 1;
    display: inline-block;
}
.grid-16-8  {
    float: left;
    width: 675px;
    padding-right: 40px;
}
.clearfix {
    display: block;
}
.indent {
    word-break: normal;
    word-wrap: break-word;
}
.subjectwrap {
    float: none;
    width: auto;
    height:250px;
    position: relative;
    margin-bottom: 15px;
}
.subject {
    float: left;
}
#mainpic {
    float: left;
    text-align: center;
    margin: 3px 12px 0 0;
    overflow: hidden;
}
#Userinfo {
    max-width: 333px;
    float: left;
    word-wrap: break-word;
}
.pl {
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: #666666;
}


.ll {
    float: left;
}
.rating_right {
    float: left;
    padding: 10px 0 10px 6px;
}
.rating_self::after {
    content: '';
    display: block;
    clear: both;
}
.starstop {
    float: left;
    margin-right: 5px;
}
.power {
    height: 10px;
    float: left;
    margin: 1px 4px;
    background: #ffd596 none repeat scroll 0 0;
}
.rating_per {
    font-size: 11px;
}
a {
    cursor: pointer;
}
i {
    background: rgba(199, 199, 199, 0.8);
    border-radius: 10px;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
}
h2 {
    color: #3277c7;
    font: 15px Arial, Helvetica, sans-serif;
    line-height: 150%;
}
.intro{
    float:none;
}
.related-pic {
    margin-bottom: 30px;
}
.related-pic-bd {
    font-size:0;
    text-align:justify;
    text-justify:distribute;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.label-trailer {
    position: relative;
}

.related-pic-bd img {
    height: 115px;
    width: 115px;
}
a img {
    border-width: 0;
    vertical-align: middle;
}
.related-pic-bd li {
    display: inline-block;
    height: 115px;
    vertical-align: top;
}
.ex{
    float: left;
}
.sortOptions {

    text-align: right;
    margin-bottom: 20px;
}
.comment {
    position: relative;
    max-height: 130px;
    display: flex;
    border: 3px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 0.7;
}
.sortOptions label{

    font-size: 25px;
}
button{
    width:70px;
    display: inline-block;
    background-color: #87b2e3;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#comments {
    margin-top: 20px;
}
.comment img{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}
.star {
    align-items: center;
}

.rating5-t::before {
    content: '★★★★★';
    letter-spacing: 2px;
    display: inline-block;
    width: var(--rating, 0); /* 星星的宽度由--rating变量控制 */
    overflow: hidden;
    color: #ffd700;
}

.rating_num {
    margin-left: 5px;
    color: #ff0000;
    font-size: 30px;
}
